@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2, nav li {
    font-family: Playfair Display, sans-serif;
}

#logo {
    float: left;
    height: 150px;
    width: 150px;
    margin: 15px;
    padding: 15px;
}

/* navigation bar links */

#menu {
    float: right;
    font-size: 120%;
    letter-spacing: 2px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}